<html ng-app="clearApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
	</head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="angular-local-storage.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="jquery-touch.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
<body ng-controller="Cnt">
	<div class="wrap" >
	<form id="addNote">
		<input type="text" autofocus="autofocus" placeholder="Enter a Note" ng-model="note" class="input flipin" ng-submit="saveNote()" />
		<button id="save" class="flipin" ng-click="saveNote()">Save</button>
	</form>
	
	<ul id="slippylist">
		<li list="check"  ng-repeat="note in notes track by $index" ng-class="{checked : note.done}" ng-style="bgstyle($index)">
			<input type="checkbox"  value="set" ng-model="note.done"></a>
				<span class="done-{{ note.done }}">{{ note.text }}</span>
		</li>
	</ul>
	</div>
	<div id="clear" class="clear">
	<a href="" class="remove" ng-click="removeNote()">Clear</a>
	</div>
	<script type="text/javascript" src="slip.js"></script>
		<script type="text/javascript">
			var list = document.querySelector('ul#slippylist');
			new Slip(list);

			
		    list.addEventListener('slip:beforereorder', function(e){
        if (/demo-no-reorder/.test(e.target.className)) {
            e.preventDefault();
        }
		    }, false);

		    list.addEventListener('slip:swipe', function(e) {
			    // e.target list item swiped
			    
			   var element = $(this).find('input:checkbox:first').trigger('click');
			   console.log(element);
			});

		    list.addEventListener('slip:beforeswipe', function(e){
		        if (e.target.nodeName == 'INPUT' || /demo-no-swipe/.test(e.target.className)) {
		            e.preventDefault();
		        }
		    }, false);

		    list.addEventListener('slip:beforewait', function(e){
		        if (e.target.className.indexOf('instant') > -1) e.preventDefault();
		    }, false);



		    list.addEventListener('slip:reorder', function(e){
		        e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);
		        return false;
		    }, false);
		</script>
</body>
</html>
