body {
	font-family: Helvetica, sans-serif;
	font-size: 24px/16px;
	margin: 0px;
}

wrap {
	max-width: 720px;
}

input {
	border: none;
	width: 90%;
	background-color: #d70007;
	height: 60px;
	vertical-align: top;
    font-size: 15px;
    color: #999;
    padding-left: 5px;
    vertical-align: bottom
}
input:focus {
	outline: none;
}
input[type=text]:focus
{
	color: white;
	padding: 10px;
	font-size: 24px;
}
li {
	width: 100%;
	height: 60px;
	list-style-type: none;
	margin-left: 0 auto;
	padding-top: 30px;
	padding-left: 10px;
	color: white;
	font-size: 24px;
}
tt{
	font-family: Helvetica;
}
.remove {
	text-decoration: none;
	color: grey;
}
ul{
	margin: 0px;
	padding: 0px;
}
#save {
	float: right;
	background-color: #d70007;
	border: none;
	width: 10%;
    height: 60px;
    margin-left: -20px;
    display: inline-block;
    cursor: pointer;
    color: white;
}


.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    opacity: 0;
    height: 0px;
}        

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    height: 30px;
}